# --- Database ---
MONGO_URI=your-mongo-connection-string
MONGO_DB=your-mongo-db

# --- Auth ---
JWT_SECRET=your-jwt-secret
JWT_ALGORITHM=HS256

# --- GitHub ---
GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE

# --- OpenAI API ---
OPENAI_API_KEY=YOUR_KEY
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# --- Provider Settings ---
LLM_PROVIDER=openai
EMBEDDING_PROVIDER=openai
CV_EXTRACTION_METHOD=openai

# --- Upload Folder ---
UPLOAD_FOLDER=uploads

# --- Gnews API Key ---
 GNEWS_API_KEY=gnews-api-key

# --- HireBase API Key ---
 HIREBASE_API_KEY=hirebase-api-key

# --- Geo coding API Key ---
GEOCODING_API_KEY=geo-coding-api-key

# --- Brevo (SendinBlue) Email ---
BREVO_API_KEY=brevo-api-key
BREVO_SENDER_EMAIL=sender@yourdomain.com
BREVO_SENDER_NAME=HR Team